/* stylelint-disable declaration-block-no-redundant-longhand-properties */

@font-face {
  font-family: JetBrainsMono;
  src: url("../assets/fonts/JetBrainsMono-Regular.ttf");
}

.code-editor {
  display: grid;
  grid-template-areas: "header header header header header header" "tree tree main main main main" "tree tree footer footer footer footer";
  grid-template-rows: max-content;
  grid-template-columns:repeat(6, 1fr);
  
  width: 100vw;
  height: 100vh;
  margin: 0;

  color: #fff;
  font: 18px/1.5 JetBrainsMono, monospace;

  background: #33235a;
}

.code-editor pre {
  font-family: JetBrainsMono, monospace;
}

.editor-header {
  --font-size: 10px;
  --line-height: 1.5;

  grid-area: header;
  
  height: calc(var(--font-size) * var(--line-height));
  padding: 5px 0;

  color: #fff;
  font: var(--font-size) / var(--line-height) sans-serif;
  text-align: center;

  background: #241a3d;
}

.editor-tree {
  grid-area: tree;
  
  border-right: 3px solid #00ffc0;
}

.editor-main {
  grid-area: main;
  
  padding: 30px;

  background: #241a3d;
  border-bottom: 3px solid #00ffc0;
}

.editor-footer {
  grid-area: footer;

  padding: 30px;
}

.code-selector {
  color: #03a9f4;
}

.code-rule {
  color: #ffcb6b;
}

.code-value {
  color: #ff5370;
}

.dir {
  color: #4caf50;
}

.git {
  color: #03a9f4;
}

.git-branch {
  color: #f44336;
}
